---
layout: default
---

<article>
  <h1 style="margin-top: 0;">{{ page.title }}</h1>
  <p style="color: #888; font-size: 0.9em;">
    {{ page.date | date: "%Y-%m-%d" }}
    {% if page.tags %} | {{ page.tags | join: ", " }}{% endif %}
  </p>

  <hr>

  {{ content }}
</article>

<hr style="margin-top: 50px;">

<div style="margin-top: 30px;">
  <h3>コメント</h3>
  
  </div>
  <script src="https://giscus.app/client.js"
        data-repo="hk250109/hk250109.github.io"
        data-repo-id="R_kgDORFHjDQ"
        data-category="[カテゴリ名を記述]"
        data-category-id="[カテゴリIDを記述]"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ja"
        crossorigin="anonymous"
        async>
</script>
